
$colors: (
  
  "primary": (
    "base": #3761F3
    ,
  ),
  "success": (
    "base": #13ce66,
  ),
  "warning": (
    "base": #ffba00,
  ),
  "danger": (
    "base": #e94040,
  ),
  "error": (
    "base": #da2020,
  ),
  "info": (
    "base": #F4F4F4
    ,
  ),
);


@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $colors
);


@use "element-plus/theme-chalk/src/index.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
  font-family: "Manrope", serif;;
}